body {
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: sans-serif;
	text-align: center;
}
header {
	height: 110%;
	padding: 10px;
	/*background: rgb(94,94,236);*/
	background: linear-gradient(45deg, rgba(151,237,255,1) 0%, rgba(115,149,255,1) 100%);
	border-radius: 0px 0px 20px 20px;
}
header a {
	background-color: none;
	border: 10px;
}
p, h1, h2 {
	margin: 0;
	padding: 0;
}
button {
	border: white;
}
/*------------------------------------------------------------------*/
.text-g {
	width: 180px;
}
.dt {
	margin-top: 40px;
	display: flex;
    align-items: center;
    justify-content: center;
}
/*------------------------------------------------------------------*/
/*дивы*/
.random-div {
	background-color: #5b6dcd;
	border-radius: 30px;
	color: white;
	padding: 35px;
	width: 300px;
	transition: 1s;
}
.random-div:hover {
	border-radius: 15% 30% 50% 55%;
}

.alls {
	display: flex;
}
#q {
	padding: 10px;
	border: solid 1px black;
}
/*------------------------------------------------------------------*/
.button-1 {
	display: inline-block;
	margin: 30px 15px 15px 15px;
	padding: 15px;
	border-radius: 10px;
	background-color: #5b6dcd;
	box-shadow: 10px 10px 2px 2px;
	transition: .5s;
	color: white;
}
.button-1:hover {
	box-shadow: 10px -10px 15px 10px #97edff;
}
/*------------------------------------------------------------------*/
.button-2 {
	display: inline-block;
	color: white;
	padding: 10px;
	text-decoration: none;
	margin: 10px 10px 2px 10px;
	border-block-end: solid;
	transition: .5s;
}
.button-2:hover {
	border-block-end: 1rem solid;
}
/*------------------------------------------------------------------*/
.rgb-button {
	display: inline-block;
	margin-top: 10px;
	padding: 15px;
	border-radius: 10px;
	background-color: #9C9C9C;
	box-shadow: 0px 0px 2px 2px #2FC7FF;
	color: white;
	transition: .5s;
}
.rgb-button:hover {
	box-shadow: 5px -5px 2px 2px #2FC7FF;
	/*animation: animation_a 4s infinite;*/
	cursor: pointer;
}

@keyframes animation_a {
  0% {
    box-shadow: 5px -5px 2px 2px #2FC7FF;
  }
  33% {
    box-shadow: 5px -5px 2px 2px #4B97FF;
  }
  66% {
    box-shadow: 5px -5px 2px 2px #7976FF;
  }
  100% {
    box-shadow: 5px -5px 2px 2px #2FC7FF;
  }
}
/*------------------------------------------------------------------*/
